<div class="main-container">
  <div class="display-container">

    <ng-container *ngIf="nominator.currentPage === 'search'; else nominationPage">
      <div class="header" *ngIf="!nominator.currentSearchResults">
        <img src="assets/images/terminator.jpg" alt="terminator">
        <h1>The Nominator</h1>
        <h3>Judgement Day Is Here!</h3>
      </div>

      <div class="search-container">
        <form class="search-input">
          <input name="search-query" placeholder="Search for a Title, e.g.: The Terminator" [(ngModel)]="searchQuery">
          <button type="submit" (click)="handleSearch()">
            <fa-icon [icon]="icons.search"></fa-icon>
          </button>
        </form>
      </div>

      <div class="search-results" *ngIf="nominator.currentSearchResults">
        <div class="movie-list">
          <app-movie-card
            (nominated)="handleNomination(movie)"
            [movie]="movie"
            *ngFor="let movie of nominator.currentSearchResults.Search"></app-movie-card>
        </div>
        <mat-paginator
          [pageSize]="10" (page)="handlePage($event)"
          [length]="nominator.currentSearchResults.totalResults"></mat-paginator>
      </div>
    </ng-container>

    <ng-template #nominationPage>
      <app-nominations class="nomination-container" [nominator]="nominator"></app-nominations>
    </ng-template>
  </div>

  <div class="bottom-nav">
    <button (click)="handleNav('search')" [ngClass]="{'active': nominator.currentPage === 'search'}">
      <fa-icon [icon]="icons.search"></fa-icon>
      <div>Search</div>
    </button>
    <button (click)="handleNav('list')" [ngClass]="{'active': nominator.currentPage === 'list'}">
      <fa-icon [icon]="icons.list"></fa-icon>
      <div>Nominations</div>
    </button>
  </div>
</div>
